In [1]:
import pandas as pd
from tqdm.auto import tqdm
tqdm.pandas()

In [2]:
potential = pd.read_json('../../data/level-1.5/potential/dev/data.json',orient='records')
potential = potential.sort_values(by="score", ascending=False)
potential.head()

,url,text,relevance,multiclasses,predictions,score
218,https://deforsa.com/wp-content/uploads/2023/09...,Las 50 aves más comunes en DEFORSA The50 commo...,irrelevant,[],relevant,1.0
222,https://www.zooreach.org/ZOO_WILD_Activities/2...,n o i t a The Western Ghats or 'Sahyadris' is ...,irrelevant,[],relevant,1.0
221,https://www.zooreach.org/ZOO_WILD_Activities/2...,n o i t a The Western Ghats or 'Sahyadris' is ...,irrelevant,[],relevant,1.0
220,https://yosemite.org/wp-content/uploads/2020/0...,HONEY BEE (Scientific name: Apis) Bees and oth...,irrelevant,[],relevant,1.0
219,https://files.worldwildlife.org/wwfcmsprod/fil...,PLOW 0 2 0 PRINT 2 orld Wildlife Fund’s 2020 P...,irrelevant,[],relevant,1.0

In [3]:
import os

path = '../../data/level-0.5/'

data = []

for subdir in os.listdir(path):
    if os.path.isdir(os.path.join(path, subdir)):
        print(subdir)
        data.append(pd.read_json(os.path.join(path, subdir,f'{subdir}.json'),orient='records')[['url','text','relevance','multiclasses']])

synopses, scraped, studies = data

synopses
scraped
studies

/tmp/ipykernel_3024097/2467746426.py:10: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  data.append(pd.read_json(os.path.join(path, subdir,f'{subdir}.json'),orient='records')[['url','text','relevance','multiclasses']])
/tmp/ipykernel_3024097/2467746426.py:10: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  data.append(pd.read_json(os.path.join(path, subdir,f'{subdir}.json'),orient='records')[['url','text','relevance','multiclasses']])
/tmp/ipykernel_3024097/2467746426.py:10: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  data.append(pd.read_json(os.path.join(path, subdir,f'{subdir}.json'),orient='records')[['url','text','relevance','multiclasses']])

In [4]:
action_data = pd.concat([synopses, studies]).reset_index(drop=True)
other_data = pd.concat([scraped,potential]).reset_index(drop=True)

In [5]:
other_data['relevance'] = 'irrelevant'

In [6]:
data = pd.concat([action_data, other_data]).reset_index(drop=True)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10436 entries, 0 to 10435
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   url           10436 non-null  object
 1   text          10436 non-null  object
 2   relevance     10436 non-null  object
 3   multiclasses  10436 non-null  object
 4   predictions   223 non-null    object
 5   score         223 non-null    float64
dtypes: float64(1), object(5)
memory usage: 489.3+ KB

In [8]:
data = data.drop(columns=['predictions'])

In [9]:
data.to_json('../../data/level-1.5/merged/data.json',orient='records')